* {
  background-color: black;
  color: white;
}

.logo-NavBar {
  margin-right: 1rem;
}

.letter_brand {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 5px;
  padding: 5px;
  color: #ff391e;
}
.letter_brand:hover {
  color: white;
}

.letters_links {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
}
.letters_links:hover {
  color: #ff391e;
}
.cart-counter {
  background-color: #ff391e;
  color: white;
  margin-left: 5px;
  font-weight: 600;
  border-radius: 50%;
  width: 22px; /* Ajustar e según el tamaño deseado */
  height: 22px; /* La altura y la anchura deben ser iguales */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
